<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <!-- <input id="id" type="text" placeholder="ID"><br>
    <input id="psword" type="text" placeholder="password"><br>
    <button>login</button> -->
    <div class="signup-page">
        <div class="form">
          <form class="signup-form">
            <input id="id" type="text" placeholder="ID"/>
            <input id="name" type="text" placeholder="Username"/>
            <input id="psword" type="password" placeholder="password"/>
            <input id="confirm-psword" type="password" placeholder="password check"/>
            <button>sign up</button>
            <p class="message">Already registered? <a href="/login">Login page</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->